services:
  - type: web
    name: apps-server
    env: node
    plan: free
    region: oregon
    buildCommand: pnpm install && pnpm nx build server
    startCommand: node dist/apps/server/main.js
    runtime: node
    branch: main
    envVars:
      - key: SUPABASE_URL
        sync: true
      - key: SUPABASE_ANON_KEY
        sync: true
